<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/pro.css">
<title>ZW-MUSIC 首页</title>
</head>
<body style="background-color:cornflowerblue">
    <div class="w3-container w3-card"><h2 style="color:rebeccapurple;"><b>ZW-MUSIC 首页</b></h2></div>
    <div class="w3-container"><nav style="background-color:dodgerblue"><a href="index" style="margin-left:10px;" class="w3-button">首页</a><a href="converter" style="margin-left:10px;" class="w3-button">YT歌曲copy&dl下载</a><a href="invest" style="margin-left:10px;" class="w3-button">投资</a></nav></div>
    <div class="w3-container" style="margin-top:90px">

        <hr>
        <div class="w3-cell-row">
            <div class="w3-cell w3-container">
                <h3><b>步骤一 :</b></h3>
                <h3>找一首歌曲在You-tube & 复制分享链接</h3>
                <p>[想见你],[https://youtu.be/yoiCSrxvwjI]</p>
            </div>
        </div>
        <hr>
        <div class="w3-cell-row">
            <div class="w3-cell w3-container">
                <h3><b>步骤二 :</b></h3>
                <h3>粘贴 & 稍等</h3>
                <p>粘贴在空白栏中。稍等片刻。</p>
            </div>
        </div>
        <hr>
        <div class="w3-cell-row">
            <div class="w3-cell w3-container">
                <h3><b>步骤三 :</b></h3>
                <h3>点击链接 & 开始下载</h3>
                <p>开始下载了。</p>
            </div>
        </div>
        <hr>
        <div class="w3-cell-row">
            <div class="w3-cell w3-container">
                <h3><a href="mailto:zwmusicapp@gmail.com"><b>点击举报问题bug</b></a></h3>
                <hr>
                <h3><a href="https://bitbucket.org/khoo2002/zwmusicapk/downloads/ZWMUSIC.apk" download="zwmusic.apk"><b>下载我们的app</b></a></h3>
                <h5>累计下载：<b>220+</b>次</h5>
            </div>
        </div>
    </div>
    <div style="height:20px;position:fixed;bottom:0px;">
        <footer style="color:rebeccapurple;font-style:italic;">@by:KZW</footer>
    </div>
</body>
</html>

